.btn{
    text-decoration: none;
    margin: .5rem;
    padding: 5rem;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    color: white;
    background-color: var(--color-matt-black);
    border: none;
    border-radius: .5rem;
}